%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
    {lib_dirs, ["../deps"]},
    {erts, [{mod_cond, derived}, {app_file, strip}]},
    {app_file, strip},
    {rel, "onepanel", "1.0.0",
        [
            kernel,
            stdlib,
            sasl,
            crypto,
            inets,
            % All ctool deps will be included in the release package,
            % so there is no need to list them here.
            ctool,
            % n2o is a ctool dep, but it is not listed in ctool.app.src,
            % which requires this line to include it in the package (but not start it)
            {n2o, load},
            onepanel
        ]},
    {rel, "start_clean", "",
        [
            kernel,
            stdlib
        ]},
    {boot_rel, "onepanel"},
    {profile, embedded},
    {incl_cond, derived},
    {excl_archive_filters, [".*"]}, %% Do not archive built libs
    {excl_sys_filters, ["^bin/(?!start_clean.boot)",
        "^erts.*/bin/(dialyzer|typer)",
        "^erts.*/(doc|info|include|lib|man|src)"]},
    {excl_app_filters, ["\.gitignore"]},
    {app, onepanel, [{mod_cond, app}, {incl_cond, include}, {lib_dir, ".."}]}
]}.

{target_dir, "onepanel"}.

{overlay_vars, "vars.config"}.

{overlay, [
    {mkdir, "log/sasl"},

    {copy, "../rel/files/erl", "\{\{erts_vsn\}\}/bin/erl"},
    {copy, "../rel/files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
    {copy, "../rel/files/onepanel", "bin/onepanel"},
    {copy, "../rel/files/onepanel.cmd", "bin/onepanel.cmd"},
    {copy, "../rel/files/start_erl.cmd", "bin/start_erl.cmd"},
    {copy, "../rel/files/install_upgrade.escript", "bin/install_upgrade.escript"},

    {copy, "sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
    {copy, "../rel/files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},

    {copy, "../src/gui_static", "./"},
    {copy, "../c_lib", "./"},
    {copy, "../certs", "./"},
    {copy, "../LICENSE.txt", "./"},
    {copy, "scripts", "./"},

    {template, "../rel/scripts/onepanel_init_d", "scripts/onepanel_init_d"}
]}.
