.idea
onepanel.iml

deps
ebin
rel_oneprovider/op_panel/
rel_globalregistry/gr_panel/
rel/gr_panel
rel/op_panel

c_lib
c_src/*.o

src/gui_static/flatui
src/gui_static/fonts
src/gui_static/common
src/gui_static/n2o

packages/*.deb
