%% behaviours should be compiled before other files
{erl_first_files, [
    "src/onepanel_modules/installer/installer_behaviour.erl"
]}.

%% directory for releases
{sub_dirs, ["rel"]}.

%% deps options
{deps, [
    {ctool, ".*", {git, "ssh://git@git.plgrid.pl:7999/vfs/ctool.git", {tag, "ddeff1a"}}},
    {mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git", {tag, "925a783"}}}
]}.

%% generation pre-hooks
{pre_hooks, [
    {compile, "mkdir -p c_lib"}
]}.

{post_hooks, [
    {compile, "chmod +x c_src/link_shared.sh"},
    {compile, "./c_src/link_shared.sh botan-1.10 provider_logic_drv.so"},
    {compile, "rm -rf c_lib/*.a"}
]}.

%% cleanup directories
{clean_files, ["c_lib"]}.

%% Erlang NIF specification
{port_specs, [
    {"c_lib/provider_logic_drv.so", ["c_src/provider_logic.cc", "c_src/provider_logic_nif.cc"]}
]}.

%% Erlang NIF compilation flags
{port_env, [
    {"LDFLAGS", "$LDFLAGS -Wl,-rpath,c_lib -L c_lib -lbotan-1.10"},
    {"CXXFLAGS", "$CXXFLAGS -O2 -ansi -W -Wall `pkg-config --cflags botan-1.10`"}
]}.

%% Add the tuple below to erl_opts proplist to completely turn off debug messages
%% {d, skip_debug}
{erl_opts, [
    fail_on_warning,
    debug_info
]}.

% Options for erlyDTL (templates for GUI)
{erlydtl_opts, [
    {doc_root, "src/gui_static/templates"},
    {out_dir, "ebin"},
    {source_ext, ".html"},
    {module_ext, "_view"}
]}.