{erl_first_files, [
    "src/http/rest/rest_behaviour.erl",
    "src/modules/service/service_behaviour.erl"
]}.

{sub_dirs, ["rel"]}.

{lib_dirs, ["deps"]}.

{erl_opts, [
    fail_on_warning,
    {src_dirs, ["src"]}
]}.

{eunit_opts, [
    verbose,
    {report, {eunit_surefire, [{dir, "../test/eunit_results"}]}}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{deps, [
    {ctool, ".*", {git, "${ONEDATA_GIT_URL}/ctool.git", {tag, "cef65a68000"}}},
    {yamerl, "0.3.2", {git, "https://github.com/yakaz/yamerl.git", {tag, "v0.3.2-1"}}},
    {node_package, ".*", {git, "git://github.com/onedata/node_package.git", {branch, "2.0.2"}}}
]}.

{pre_hooks, [
    {compile, "mkdir -p priv"},
    {eunit, "mkdir -p test/eunit_results"}
]}.

{port_specs, [
    {"priv/onepanel_user_nif.so", ["c_src/onepanel_user_nif.cc"]},
    {"priv/service_oneprovider_nif.so", ["c_src/service_oneprovider_nif.cc"]}
]}.

{port_env, [
    {"LDFLAGS", "$LDFLAGS `pkg-config --libs botan-1.10`"},
    {"CXXFLAGS", "$CXXFLAGS -std=c++14 -O2 -Wall `pkg-config --cflags botan-1.10`"}
]}.

{clean_files, [
    "./c_src/*.o",
    "./c_src/*.d",
    "./priv/*.so",
    "./test/eunit_results",
    "./test_distributed/logs/*",
    "./test_distributed/*.beam"
]}.
