%% behaviours should be compiled before other files
{erl_first_files, [
    "src/onepanel_modules/installer/installer_behaviour.erl"
]}.

%% directory for releases
{sub_dirs, ["rel_globalregistry"]}.

%% to include deps headers
{lib_dirs, ["deps"]}.

%% options for documentation tool
{edoc_opts, [
    {packages, false}
]}.

%% deps options
{deps, [
    {ctool, ".*", {git, "ssh://git@git.plgrid.pl:7999/vfs/ctool.git", {tag, "4b1487e"}}}
]}.

%% generation pre-hooks
{pre_hooks, [
    {compile, "mkdir -p c_lib"}
]}.

%% generation post-hooks
{post_hooks, [
    {compile, "chmod +x c_src/link_shared.sh"},
    {compile, "./c_src/link_shared.sh botan-1.10 user_logic_drv.so provider_logic_drv.so"},
    {compile, "rm -rf c_lib/*.a"},
    {'get-deps', "cp -Rf ./deps/ctool/src/gui_static/* ./src/gui_static/"}
]}.

%% cleanup directories
{clean_files, ["c_lib"]}.

%% erlang NIF specification
{port_specs, [
    {"c_lib/user_logic_drv.so", ["c_src/user_logic.cc", "c_src/user_logic_nif.cc"]}
]}.

%% erlang NIF compilation flags
{port_env, [
    {"LDFLAGS", "$LDFLAGS -Wl,-rpath,c_lib -L c_lib -lbotan-1.10"},
    {"CXXFLAGS", "$CXXFLAGS -O2 -ansi -W -Wall `pkg-config --cflags botan-1.10`"}
]}.

%% add the tuple below to erl_opts proplist to completely turn off debug messages
%% {d, skip_debug}
{erl_opts, [
    fail_on_warning,
    debug_info,
    {src_dirs, ["src", "src_globalregistry"]},
    {d, globalregistry}
]}.

% options for erlyDTL (templates for GUI)
{erlydtl_opts, [
    {doc_root, "src/gui_static/templates"},
    {out_dir, "ebin"},
    {source_ext, ".html"},
    {module_ext, "_view"}
]}.