%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
  {lib_dirs, ["../deps"]},
  {erts, [{mod_cond, derived}, {app_file, strip}]},
  {app_file, strip},
  {rel, "spanel", "1",
    [
      kernel,
      stdlib,
      sasl,
      n2o,
      cowboy,
      lager,
      ibrowse,
      spanel
    ]},
  {rel, "start_clean", "",
    [
      kernel,
      stdlib
    ]},
  {boot_rel, "spanel"},
  {profile, embedded},
  {incl_cond, derived},
  {excl_archive_filters, [".*"]}, %% Do not archive built libs
  {excl_sys_filters, ["^bin/(?!start_clean.boot)",
    "^erts.*/bin/(dialyzer|typer)",
    "^erts.*/(doc|info|include|lib|man|src)"]},
  {excl_app_filters, ["\.gitignore"]},
  {app, spanel, [{mod_cond, app}, {incl_cond, include}, {lib_dir, ".."}]}
]}.

{target_dir, "spanel"}.

{overlay, [
  {mkdir, "log/sasl"},
  {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
  {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
  {copy, "spanel/bin/start_clean.boot",
    "\{\{erts_vsn\}\}/bin/start_clean.boot"},
  {copy, "files/spanel", "bin/spanel"},
  {copy, "files/spanel.cmd", "bin/spanel.cmd"},
  {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
  {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
  {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
  {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
  {copy, "../src/gui_static/", "./"},
  {copy, "../cacerts", "./"},
  {copy, "../LICENSE.txt", "./"}
]}.
