[
    %% lager config
    {lager, [
        {handlers, [
            %% show info level or higher level logs at console
            {lager_console_backend, info},
            %% rotate error log once a month (first day of month, 1 a.m) or when it reaches 1 GB; keep 1000 rotated logs
            {lager_file_backend, [{file, "{{platform_log_dir}}/error.log"}, {level, error}, {size, 1048576000}, {date, "$M1D1"}, {count, 1000}]},
            %% rotate info log once a week (friday at 11 p.m) or when it reaches 100 MB; keep 100 rotated logs
            {lager_file_backend, [{file, "{{platform_log_dir}}/info.log"}, {level, info}, {size, 104857600}, {date, "$W5D23"}, {count, 100}]},
            %% rotate info log once a day (at midnight) or when it reaches 10 MB; keep 10 rotated logs
            {lager_file_backend, [{file, "{{platform_log_dir}}/debug.log"}, {level, debug}, {size, 10485760}, {date, "$D0"}, {count, 10}]}
        ]},
        {error_logger_hwm, 200},
        % When lager should change mode to synchronous (log queue is longer than async_threshold)
        {async_threshold, 500},
        % When lager should return from mode to synchronous (log queue is shorter than (async_threshold - async_threshold_window)
        {async_threshold_window, 50}
    ]},

    %% mnesia config
    {mnesia, [
        {dir, "{{platform_data_dir}}/mnesia"}
    ]},

    %% onepanel config
    {onepanel, [
        %% List of beam directories to be covered, cover is not started if list is empty
        {covered_dirs, []},
        %% List of modules to be excluded during cover analysis
        {covered_excluded_modules, []},

        {advertise_address, "239.255.0.1"},
        {advertise_port, 8888},
        {advertise_max_delay, 5000},

        {release, oneprovider},

        {rest_port, 9443},
        {rest_https_acceptors, 100},
        {rest_key_path, "{{platform_etc_dir}}/certs/rest_key.pem"},
        {rest_cert_path, "{{platform_etc_dir}}/certs/rest_cert.pem"},
        {rest_cacert_path, "{{platform_etc_dir}}/cacerts/rest_cacert.pem"},

        {rpc_timeout, 600000},
        {create_tables_timeout, 10000},
        {copy_tables_timeout, 10000},
        {task_ttl, 86400000},

        {min_username_length, 4},
        {min_password_length, 8},
        {becrypt_work_factor, 12},

        {couchbase_wait_for_init_attempts, 60},
        {couchbase_connect_attempts, 30},
        {couchbase_connect_timeout, 1000},
        {couchbase_user, "admin"},
        {couchbase_password, "password"},
        {couchbase_admin_port, 8091},
        {couchbase_port, 11211},
        {couchbase_memory_quota, 512},
        {couchbase_open_files_limit, 65535},

        {cluster_manager_vm_args_path, "{{platform_etc_dir}}/cluster_manager/vm.args"},
        {cluster_manager_app_config_path, "{{platform_etc_dir}}/cluster_manager/app.config"},
        {cluster_manager_env_path, "{{platform_lib_dir}}/cluster_manager/lib/env.sh"},
        {cluster_manager_failover_timeout, 5000},
        {cluster_manager_sync_nodes_timeout, 120000},
        {cluster_manager_open_files_limit, 65535},

        {op_worker_vm_args_path, "{{platform_etc_dir}}/op_worker/vm.args"},
        {op_worker_app_config_path, "{{platform_etc_dir}}/op_worker/app.config"},
        {op_worker_open_files_limit, 65535},
        {op_worker_nagios_protocol, "http"},
        {op_worker_nagios_port, 6666},
        {op_worker_wait_for_init_attempts, 60},
        {op_worker_wait_for_init_delay, 5000},


        {oz_worker_vm_args_path, "{{platform_etc_dir}}/oz_worker/vm.args"},
        {oz_worker_app_config_path, "{{platform_etc_dir}}/oz_worker/app.config"},
        {oz_worker_open_files_limit, 65535},
        {oz_worker_nagios_protocol, "http"},
        {oz_worker_nagios_port, 6666},
        {oz_worker_wait_for_init_attempts, 60},
        {oz_worker_wait_for_init_delay, 5000},

        {onezone_name, "example"}
    ]}
].

