## Name of the node
-name {{node}}

## Cookie for distributed erlang
-setcookie {{cookie}}

## Make onepanel hidden for other nodes
-hidden

## Set the location of crash dumps
-env ERL_CRASH_DUMP {{crash_dump}}

## Enable SMP
-smp enable

# Make sure the node cannot be killed by Ctrl + C.
# To terminate the node, use 'q().' or 'init:stop().'
+Bc

# The recommended time correction options (enable time warp and clock correction)
+C multi_time_warp
+c